// SECTION getting started phase 2 :: START

.e-started__row.e-started__row-3.e-started__row--yes(e-started-screen='3')

  p.e-started__subtitle!= "GETTING STARTED"
  p.e-started__title!= "PHASE 2"

  p.e-started__description!= "At the end of the 6 month evaluation period, traders apply for final approval and acceptance to Phase 2 of the IFXEvolve Program. This is typically what you can expect to happen:"

  p.e-started__question!= "Have you applied for final approval?"

  .e-started__answer-wrapper
    a.e-started__answer.e-started__answer--no(href="#" class="" title="" started-btn-js data-name="back" data-subname="yes" data-id='2')
      i.icon-font.icon-close
      span!= "no"

    a.e-started__answer.e-started__answer--yes(href="#" class="" title="" started-btn-js data-name="yes" data-id='4')
      i.icon-font.icon-check
      span!= "Yes"

// SECTION getting started phase 2 :: END