// SECTION getting started phase 3,4 :: START

.e-started__row.e-started__row-4.e-started__row--yes(e-started-screen='4')

  p.e-started__title.e-started__title-0
    i.icon-font.icon-check
    span!= "PHASE 2"
  p.e-started__description.e-started__description-0!= "Your application is in progress, and the IFXEvolve comittee will provide a final decision in 7 days from application. If you satisfied the committee that you possess the required skill to trade IFXEvolve funds, funds are released in accordance with the mandate received from the IFXEvolve committee. On approval you commence your trading activities with IFXEvolve funds."

  p.e-started__title.e-started__title-1!= "PHASE 3"
  p.e-started__description.e-started__description-1!= "Your application is in progress, and the IFXEvolve comittee will provide a final decision in 7 days from application. If you satisfied the committee that you possess the required skill to trade IFXEvolve funds, funds are released in accordance with the mandate received from the IFXEvolve committee. On approval you commence your trading activities with IFXEvolve funds."

  p.e-started__title.e-started__title-2!= "PHASE 4"
  p.e-started__description.e-started__description-2!= "Phase 4 marks the end of a successful journey. During this phase IFXEvolve team support you in terms of networking opportunities and industry licensing to commence a career as a fund manager."

// SECTION getting started phase 3,4 :: END