// SECTION getting started :: START

.e-started__row.e-started__row-5.e-started__row--no(e-started-screen='1')

  p.e-started__title!= "Join IFX Brokers"

  p.e-started__description.e-started__description-0!= "Because of the significant amounts of funding potentially available and the associated risk, there is a fundamental belief that a trade has to have “skin in the game” to prevent the mental accounting associated with excessive risk taking when trading free money."
  p.e-started__description.e-started__description-1!= "To be considered for the IFXEvolve program you need to as a minimum have a funded LIVE account with our partner broker, IFX Brokers, with a minimum equity of USD500 or more."

  .e-started__account-wrapper
    a.e-started__account.e-started__account--open(href="#" class="" title="" started-btn-js data-name="no" data-id='2')
      div
        span!= "Open Live Account"
      div
        span
         i.icon-font.icon-chevron-right

    a.e-started__account.e-started__account--initiate(href="#" class="" title="")
      div
        span!= "Initiate Broker-to-Broker Transfer"
      div
        span
          i.icon-font.icon-chevron-right

// SECTION getting started :: END