// SECTION getting started congratulations :: START

.e-started__row.e-started__row-1.e-started__row--yes(e-started-screen='1')

  p.e-started__title!= "Congratulations!"

  p.e-started__description!= "You have automatically been accepted in the IFXEvolve program and can proceed to Phase 1 upon acceptance of the program terms & conditions"

  p.e-started__question!= "Do you wish to participate in the IFXEvolve Program?"

  .e-started__answer-wrapper
    a.e-started__answer.e-started__answer--no(href="#" class="" title="" started-btn-js data-id='0')
      i.icon-font.icon-close
      span!= "no"

    a.e-started__answer.e-started__answer--yes(href="#" class="" title="" started-btn-js data-name="yes" data-id='2')
      i.icon-font.icon-check
      span!= "Yes"

  p.e-started__description.e-started__description--opacity!= "By selecting YES, you agree to accept the IFXEvolve terms & Conditions, and to be enrolled into Phase 1"

// SECTION getting started congratulations :: END