// SECTION getting started :: START

.e-started__row.e-started__row-0(e-started-screen='0')

  p.e-started__subtitle!= "GETTING STARTED"
  p.e-started__title!= "GETTING STARTED"

  p.e-started__question!= "Do you have a live funded account with our partner broker, IFX Brokers, with a minimum equity of USD500 or more?"

  .e-started__answer-wrapper
    a.e-started__answer.e-started__answer--no(href="#" class="" title="" started-btn-js data-name="no" data-id='1')
      i.icon-font.icon-close
      span!= "no"

    a.e-started__answer.e-started__answer--yes(href="#" class="" title="" started-btn-js data-name='yes' data-id='1')
      i.icon-font.icon-check
      span!= "Yes"

// SECTION getting started :: END