// SECTION about :: START

section#e-about.e-about
  .e-about__bg
    .e-about__bg-left
      img(src="./img/img-about-bg.png" srcset="./img/img-about-bg@2x.png 2x" alt="" title="")

    .e-about__bg-right

  .c-grid
    .e-about__wrapper

      .e-about__row
        .e-about__row-left
        .e-about__row-right

          h2.e-about__title.e-about__title-0!= "ABOUT IFX EVOLVE"

          p.e-about__text.e-about__text-0!= "IFXEvolve is the brand name appointed by the investor manager of IFX Brokers Holdings (Pty) Ltd. IXEvolve is a performance-based opportunity to becoming a professional trader."
          p.e-about__text.e-about__text-1!= "Through sophisticated software, we select traders with realm of possibility to receive financial backing and professional mentoring to help them build a trading career."

          h2.e-about__title.e-about__title-1!= "PROGRAM REQUIREMENTS"

          p.e-about__subtitle!= "To be considered into the program, a trader shall as a minimum:"

          .e-about__desc
            p.e-about__desc-title!= "USD500"
            p.e-about__text.e-about__text-2!= "Have a live funded IFX Brokers account with a minimum balance of USD 500"

            p.e-about__desc-title!= "6 months "
            p.e-about__text.e-about__text-3!= "Trading history available for evaluation required"

// SECTION about :: END