// SECTION assessment :: START

section#e-assessment.e-assessment

  .e-assessment__bg
    .e-assessment__bg-left
    .e-assessment__bg-right
      img(src="./img/img-assessment-bg.png" srcset="./img/img-assessment-bg@2x.png 2x" alt="" title="")

  .c-grid
    .e-assessment__wrapper

      .e-assessment__row.e-assessment__row-0
        .e-assessment__row-left

          h1.e-assessment__title!= "assessment"

          .e-assessment__desc
            p.e-assessment__desc-text!= "Following acceptance in the Evolve Program/Initiative, performance on all your trading activities are carefully evaluated with our customized scanning software."

          p.e-assessment__text.e-assessment__text-0!= "Potential traders that are likely to succeed in the future are identified by an automated scoring system."
          p.e-assessment__text.e-assessment__text-1!= "Powerful scanning software continuously monitor/evaluate trades, determining the overall performance of a trader. Based on key indicators, a probability analysis is generated to determine a trader’s potential success ratio."

        .e-assessment__row-right

      .e-assessment__row.e-assessment__row-1
        .e-assessment__row-left
          img(src="./img/img-assessment-pc.png" srcset="./img/img-assessment-pc@2x.png 2x" alt="" title="")

        .e-assessment__row-right
          div
            p!= "EXPERIENCE INDICATOR"
            span!= "Evaluates your ability to turn trading opportunities into profits"

          div
            p!= "RISK INDICATOR"
            span!= "Assess how you shrewdly manage risk across all your open positions"

          div
            p!= "PERFORMANCE INDICATOR"
            span!= "Measures the probability of your future success based on your past performance."

          div
            p!= "MANAGEMENT INDICATOR"
            span!= "Assesses your behavious and the ability to recover from trading mistakes."

// SECTION assessment :: END