// SECTION improve :: START

section#e-improve.e-improve
  .c-grid
    .e-improve__wrapper

      .e-improve__row.e-improve__row-0
        .e-improve__row-left
          img(src="./img/img-improve-bg.png" alt="" title="")

        .e-improve__row-right
          h2.e-improve__title.e-improve__title-0!= "Let us improve your appetite to growing your career!"

          p.e-improve__text!= "IFXEvolve is a performance-based opportunity to becoming a professional trader. Through sophisticated software, we elect traders with realm of possibility to receive financial backing and professional mentoring to help them build a trading career."

      .e-improve__row.e-improve__row-1
        h2.e-improve__title.e-improve__title-1!= "Skills, passion, determination<br>& a love for trading"

        .e-improve__row-cover
          .e-improve__row-left
            p.e-improve__text.e-improve__text-0!= "We are passionate about trading. Stock, crypto’s, Forex, commodities – we love it all. The one ingredient that all traders have in common is the incredible skill to turn a trading opportunity into a profitable event."

          .e-improve__row-right
            p.e-improve__text.e-improve__text-1!= "This is why we’re putting <span>USD XXX XXX XXX</span> on the table to invest in you, our next generation fund manager. That’s xxx chances of claiming your piece of the pie."

// SECTION improve :: END