// SECTION main :: START

section#e-main.e-main
  .c-grid
    .e-main__wrapper

      .e-main__row.e-main__row-0
        .e-main__row-left
          .e-main__logo
            img(src="./img/logotype.svg" alt="" title="")

        .e-main__row-right
          a.e-main__link.e-main__link--sign(href="#" class="" title="")!= "Sign in"
          a.e-main__link.e-main__link--open(href="#" class="" title="")!= "Open Live account"

      .e-main__row.e-main__row-1

        p.e-main__subtitle!= "THE TRADER IN YOU LOVES CHALLENGES"

        h1.e-main__title!= "TRADE R1,000,000 AND KEEP 50% OF THE PROFIT"

        a.e-main__btn(href="#" class="" title="")!= "Open Live account"

// SECTION main :: END